body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.hide {
    display: none;
}
h1 {
    font-family: 'VT323', monospace;
    font-size: 4em;
    margin: 0.2em;
}
h2 {
    font-family: 'VT323', monospace;
    font-size: 2em;
    margin: 1em 0 0.25em;
}
h2:first-of-type {
    margin-top: 0.5em;
}
p {
    padding: 0 10px 0 10px;
}
.loadingScreen, .rotateDevice {
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 2;
    align-items: center;
    justify-content: center;
}
.loadingScreen span {
    font-size: 32px;
    margin-top: -32px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}
.progressBar {
    width: 100%;
    height: 5px;
    background-color: #B3E5FC;
    overflow: hidden;
    position: relative;
    margin: 0px 15px 0 15px;
}
.progress {
    height: 5px;
    width: 0px;
    background-color: #03A9F4;
}
.innerBox {
    width: 320px;
    margin: auto;
    padding-bottom: 5px;
    border-radius: 2px;
    box-shadow: 0px 5px 15px 4px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 5px 15px 4px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0px 5px 15px 4px rgba(0, 0, 0, 0.14);
}
@media only screen and (max-width: 320px) {
    .innerBox {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
}
.innerBox#hasSaved {
    display: none;
}
label {
    display: block;
    margin-bottom: 10px;
}
.box {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    overflow: hidden;
}
.grid {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    -webkit-animation: fade-in 2s;
    -moz-animation: fade-in 2s;
    -o-animation: fade-in 2s;
    animation: fade-in 2s;
}
table, tr, td {
    border: 1px solid black;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
tr {
    height: 20px;
}
td {
    width: 20px;
}
td.cross {
    background-image: linear-gradient(to bottom left, transparent calc(50% - 1px), red, transparent calc(50% + 1px)), linear-gradient(to bottom right, transparent calc(50% - 1px), red, transparent calc(50% + 1px));
}
input[type=number] {
    width: 6em;
    border: 1px solid #ced4da;
    border-radius: 3px;
    line-height: 1.5;
    padding-left: 2px;
}
.left {
    left: 40px;
    right: unset;
}
.toolBox {
    display: block;
    max-height: 50px;
    width: 150px;
    line-height: 50px;
    margin-top: 2px;
    border-radius: 4px;
    background-color: #3F51B5;
    position: fixed;
    color: white;
    font-weight: bold;
    text-align: center;
    left: 50%;
    cursor: pointer;
    margin-left: -75px;
    bottom:2px;
}

.toolBox:hover {
    background-color: rgba(0, 0, 0, 1);
}
.boxItems img {
    display: inline-block;
    vertical-align: middle;
}
.boxItems {
    overflow-x: auto;
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    bottom: 100px;
    white-space: nowrap;
    margin: auto;
    border-radius: 2px;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 1;
    width: 826px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: scale( 1) translateZ(0);
    -moz-transform: scale( 1) translateZ(0);
    -o-transform: scale( 1) translateZ(0);
    -ms-transform: scale( 1) translateZ(0);
    transform: scale( 1) translateZ(0);
}
@media only screen and (max-width: 756px) {
    .boxItems {
        width: 100%;
    }
}
.hideBox {
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: scale( .1) translateZ(0);
    -moz-transform: scale( .1) translateZ(0);
    -o-transform: scale( .1) translateZ(0);
    -ms-transform: scale( .1) translateZ(0);
    transform: scale( .1) translateZ(0);
}
.item span {
    font-size: 12px;
    display: block;
    text-align: center;
    position: relative;
}
.item {
    border-radius: 4px;
    margin: 5px auto;
    padding: 0 20px 0 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    max-width: 60px;
    height: 60px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.item:hover {
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 1), 0 4px 15px 0 rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 1), 0 4px 15px 0 rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 1), 0 4px 15px 0 rgba(255, 255, 255, 1);
}
.item i {
    vertical-align: middle;
}
#pencil {
    color: #4CAF50;
}
#pencil:hover {
    box-shadow: 0 5px 11px 0 rgba(76, 175, 80, 1), 0 4px 15px 0 rgba(76, 175, 80, 1);
    -moz-box-shadow: 0 5px 11px 0 rgba(76, 175, 80, 1), 0 4px 15px 0 rgba(76, 175, 80, 1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(76, 175, 80, 1), 0 4px 15px 0 rgba(76, 175, 80, 1);
}
#pencil.active {
    background-color: #4CAF50;
    color: #000000;
}
#pencil.active:hover {
    box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 1), 0 4px 15px 0 rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 1), 0 4px 15px 0 rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 1), 0 4px 15px 0 rgba(255, 255, 255, 1);
}
#eraser {
    color: #f49b95;
}
#eraser:hover {
    box-shadow: 0 5px 11px 0 rgba(244, 155, 149, 1), 0 4px 15px 0 rgba(244, 155, 149, 1);
    -moz- box-shadow: 0 5px 11px 0 rgba(244, 155, 149, 1), 0 4px 15px 0 rgba(244, 155, 149, 1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(244, 155, 149, 1), 0 4px 15px 0 rgba(244, 155, 149, 1);
}
#eraser.active {
    color: #000000;
    background-color: #f49b95;
}
#eraser.active:hover {
    box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 1), 0 4px 15px 0 rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 1), 0 4px 15px 0 rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 1), 0 4px 15px 0 rgba(255, 255, 255, 1);
}
#magic {
    color: #ffd700;
}
#magic:hover {
    -moz-box-shadow: 0 5px 11px 0 rgba(255, 215, 0, 1), 0 4px 15px 0 rgba(255, 215, 0, 1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(255, 215, 0, 1), 0 4px 15px 0 rgba(255, 215, 0, 1);
    box-shadow: 0 5px 11px 0 rgba(255, 215, 0, 1), 0 4px 15px 0 rgba(255, 215, 0, 1);
}
#magic.active {
    color: #000000;
    background-color: #ffd700;
}
#magic.active:hover {
    box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 1), 0 4px 15px 0 rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 1), 0 4px 15px 0 rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 1), 0 4px 15px 0 rgba(255, 255, 255, 1);
}
#save-button {
    color: #03A9F4;
}
#save-button:hover {
    box-shadow: 0 5px 11px 0 rgba(3, 169, 244, 1), 0 4px 15px 0 rgba(3, 169, 244, 1);
    -moz-box-shadow: 0 5px 11px 0 rgba(3, 169, 244, 1), 0 4px 15px 0 rgba(3, 169, 244, 1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(3, 169, 244, 1), 0 4px 15px 0 rgba(3, 169, 244, 1);
}
#save-button.active {
    color: #03A9F4;
}
#save-button.active:hover {
    box-shadow: 0 5px 11px 0 rgba(3, 169, 244, 1), 0 4px 15px 0 rgba(3, 169, 244, 1);
    -moz-box-shadow: 0 5px 11px 0 rgba(3, 169, 244, 1), 0 4px 15px 0 rgba(3, 169, 244, 1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(3, 169, 244, 1), 0 4px 15px 0 rgba(3, 169, 244, 1);
}
#refresh, #mainMenu {
    color: #F44336;
}
#refresh:hover, #mainMenu:hover {
    box-shadow: 0 5px 11px 0 rgba(183, 28, 28, 1), 0 4px 15px 0 rgba(183, 28, 28, 1);
    -moz- box-shadow: 0 5px 11px 0 rgba(183, 28, 28, 1), 0 4px 15px 0 rgba(183, 28, 28, 1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(183, 28, 28, 1), 0 4px 15px 0 rgba(183, 28, 28, 1);
}
button {
    display: block;
    color: black;
    outline: none;
    margin: auto;
    cursor: pointer;
    margin-bottom: 10px;
    border: none;
    background-color: white;
    height: 25px;
    width: 125px;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}
button:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    -moz- box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}
button.btn-blue {
    box-shadow: 0 2px 2px 0 rgba(33, 150, 243, 0.14), 0 3px 1px -2px rgba(33, 150, 243, 0.2), 0 1px 5px 0 rgba(33, 150, 243, 0.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(33, 150, 243, 0.14), 0 3px 1px -2px rgba(33, 150, 243, 0.2), 0 1px 5px 0 rgba(33, 150, 243, 0.12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(33, 150, 243, 0.14), 0 3px 1px -2px rgba(33, 150, 243, 0.2), 0 1px 5px 0 rgba(33, 150, 243, 0.12);
    background: #2196f3;
}
button.btn-blue:hover {
    box-shadow: 0 5px 11px 0 rgba(13, 71, 161, .14), 0 4px 15px 0 rgba(13, 71, 161, .15);
    -moz-box-shadow: 0 5px 11px 0 rgba(13, 71, 161, .14), 0 4px 15px 0 rgba(13, 71, 161, .15);
    -webkit-box-shadow: 0 5px 11px 0 rgba(13, 71, 161, .14), 0 4px 15px 0 rgba(13, 71, 161, .15);
}
button.btn-green {
    box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14), 0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.12);
    -moz- box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14), 0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14), 0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.12);
    background: #4CAF50;
}
button.btn-green:hover {
    box-shadow: 0 5px 11px 0 rgba(27, 94, 32, .14), 0 4px 15px 0 rgba(27, 94, 32, .15);
    -moz-box-shadow: 0 5px 11px 0 rgba(27, 94, 32, .14), 0 4px 15px 0 rgba(27, 94, 32, .15);
    -webkit-box-shadow: 0 5px 11px 0 rgba(27, 94, 32, .14), 0 4px 15px 0 rgba(27, 94, 32, .15);
}
button.btn-purple {
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
    -moz- box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
    background: #9C27B0;
}
button.btn-purple:hover {
    box-shadow: 0 5px 11px 0 rgba(74, 20, 140, .14), 0 4px 15px 0 rgba(74, 20, 140, .15);
    -moz-box-shadow: 0 5px 11px 0 rgba(74, 20, 140, .14), 0 4px 15px 0 rgba(74, 20, 140, .15);
    -webkit-box-shadow: 0 5px 11px 0 rgba(74, 20, 140, .14), 0 4px 15px 0 rgba(74, 20, 140, .15);
}
.animate-out-left {
    transform: translateX(-9999px);
    transition: all 5s linear;
}
.animate-out-right {
    transform: translateX(9999px);
    transition: all 5s linear;
}
.animate-in-left {
    transform: translateX(0px);
    transition: all 5s linear;
}
.animate-in-right {
    transform: translateX(0px);
    transition: all 5s linear;
}
.animate-fade-out {
    -webkit-animation: fade-out 2s;
    -moz-animation: fade-out 2s;
    -o-animation: fade-out 2s;
    animation: fade-out 2s;
}
@-webkit-keyframes fade-out {
    0% {
        display: block;
        opacity: 1;
    }
    66% {
        display: block;
        opacity: 1;
    }
    100% {
        display: none;
        opacity: 0;
    }
}
@-moz-keyframes fade-out {
    0% {
        display: block;
        opacity: 1;
    }
    66% {
        display: block;
        opacity: 1;
    }
    100% {
        display: none;
        opacity: 0;
    }
}
@-o-keyframes fade-out {
    0% {
        display: block;
        opacity: 1;
    }
    66% {
        display: block;
        opacity: 1;
    }
    100% {
        display: none;
        opacity: 0;
    }
}
@keyframes fade-out {
    0% {
        display: block;
        opacity: 1;
    }
    66% {
        display: block;
        opacity: 1;
    }
    100% {
        display: none;
        opacity: 0;
    }
}
@-webkit-keyframes fade-in {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: flex;
        opacity: 0;
    }
    100% {
        display: flex;
        opacity: 1;
    }
}
@-moz-keyframes fade-in {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: flex;
        opacity: 0;
    }
    100% {
        display: flex;
        opacity: 1;
    }
}
@-o-keyframes fade-in {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: flex;
        opacity: 0;
    }
    100% {
        display: flex;
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: flex;
        opacity: 0;
    }
    100% {
        display: flex;
        opacity: 1;
    }
}
